@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


/* RESET CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e7e5e5;
    min-width: 100vh
}

/* HEADER */

.header-container{
    background-color: #fff;
    padding: 15px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    
}

.logo{
    margin-left: 144%;
    height: 40px;
}

.search{
    height: 40px;
    margin-right: 380px;
}

.menu{
    display: flex;
    background-color: #fff;
    height: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
    justify-content: center;
    padding-right: 40%;
}

.menu a{
    text-decoration: none;
    color: #209bd4;
    font-size: 20px;
    font-family: 'Roboto',sans-serif;
    margin: 0 10px;
}

.menu a:hover{
    background: #209bd4;
    color: white;
    padding: 15px;
}

/* BANNER AREA */

.slider{
    display: flex;
    justify-content: center;
}

.slider img{
    width: 1100px;
}


/* MAIN AREA*/

.main-area{
    
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.title{
    display: flex;
    width: 1100px;
    justify-content: flex-start;
    margin: 0 auto;
    
}

.title h1{
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    
}

 /* FALTA TERMINAR O DE ESTILIZAR TITULO */

.posts-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 800px;
    
}

.box{
    width: 370px;
    padding: 10px;
    border: 1px solid #e7e5e5;
    font-family: 'Roboto', sans-serif;
}

.box img{
    display: flex;
    width: 100%;
    width: 350px;
    height: 200px;
    margin-bottom: none;
    bottom: 5px;
}

.content{
    background-color: #fff;
    width: 350px;
    height: 100px;
    border: 1px solid #ccc;
    
}

.content p{
    padding: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.box-footer{
    display: flex;
    color: #209bd4;
    font-size: 12px;
    justify-content: flex-start;
    padding-top: 40px;
    padding-left: 10px;
}

.side-bar{
    width: 300px;
    
}

.telegram-title{
    background-color: #209bd4;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
  


.telegram img{
    height: 400px;
    
}




/* FALTA TERMINAR O FOOTER */





/* RESPONSIViADE */

@media screen and (max-width: 1200px) {
    .search{
        display: none;
    }
    
}



@media screen and (max-width: 1080px) {
   
    .side-bar{
        display: none;
    }

    .posts-container{
        grid-template-columns: 1fr 1fr;
    }

    .box{
        width: 400px;
    }
}

/* FALTA TERMINAR O RESPONSIVO*/